<!-- Home Page -->
<div class="home-container d-flex">
   <div>
      
    <H3>hii! <%= user.name %> Welcome to home Page</H3>
   </div>
   <div class="reset">
    <a class="google-sign" href="/getreset">
        Reset Password
     </a>
   </div>

</div>
