<!-- reset Password Form -->



<form class="col g-3 form" action="/reset_password" method="post">

  <% if (errorMessages && errorMessages.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <% errorMessages.forEach(message => { %>
        <p class="mb-0"><%= message %></p>
      <% }); %>
    </div>
  <% } %>
  <% if (successMessages && successMessages.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <% successMessages.forEach(message => { %>
        <p class="mb-0"><%= message %></p>
      <% }); %>
    </div>
  <% } %>
    <div class="col-md-4">
      <input type="email" class="form-control" name="email" required placeholder="Your Email">
    </div>
    <div class="col-md-4">
      <input type="password" class="form-control" name="new_password" required placeholder="New Password">
    </div>
    <div class="col-md-4">
      <input type="password" class="form-control" name="confirm_new_password" required placeholder="Confirm New Password">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Reset </button>
    </div>
  </form>
  