<!-- reset Password Form -->

<form class="col g-3 form" action="/reset_password" method="post">
    <div class="col-md-4">
      <input type="email" class="form-control" name="email" required placeholder="Your Email">
    </div>
    <div class="col-md-4">
      <input type="password" class="form-control" name="new_password" required placeholder="New Password">
    </div>
    <div class="col-md-4">
      <input type="password" class="form-control" name="confirm_new_password" required placeholder="Confirm New Password">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Reset </button>
    </div>
  </form>
  